body{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
}

#my-div{
    margin-top: 10px;
    width: 350px;
    height: 350px;
    background-color: yellow;
    border: 1px solid lightgray;
}